*.sdf
*.exp
*.obj


*.lib
!sqlite3.lib
!libeay32MTd.lib
!MDSMD.lib
!jsoncpp.lib

*.bak
*.dll
!browser/Debug/sqlite3.dll

*.opensdf
*.exe
*.pdb
*.ilk
**/国密浏览器/**
**/Release/**
**/Temp/
**/Tmp/
**/tempfiles/
**/ipch/
browser - 副本/
browser/Debug.rar
browser/Debug/ie10.reg
browser/Debug/ie11.reg
