html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	min-width: 800px;
	max-width: 1024px;
	min-height: 100%;
    background: #FBFBFC;
    margin: 0 auto;
	font: 12px/1.5 'microsoft yahei',tahoma,arial,sans-serif;
}
a:hover{
	text-decoration: underline;
	color: #4188E4!important;
	cursor: pointer;
}
.bookmark-box{
	width: 800px;
	height: auto;
	overflow: auto;
	margin: 0 auto;
}
.bookmark-menu{
	width: 100%;
	height: 49px;
	line-height: 46px;
	padding-top: 30px;
	position: relative;
}
.menu-box{
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #E8ECF2;
    position: absolute;
}
.bookmark-menu h3{
	width: auto;
	height: 46px;
	line-height: 46px;
    border-bottom: 3px solid #438BE4;
	float: left;
	font-size: 16px;
	color: #4E4E4E;
	letter-spacing: 0px;
	font-weight: normal;
}

#ImportBookmarks{
	float: left;
	width: 80px;
	height: 28px;
	line-height: 28px;
	background-image: linear-gradient(0deg, #F5F5F8 0%, #FFFFFF 100%);
	border: 1px solid #E8ECF2;
	margin-left: 140px;
	margin-right: 20px;
	margin-top: 8px;
	cursor: pointer;
	letter-spacing: 0;
}
#ExportBookmarks{
	float: left;
	width: 80px;
	height: 28px;
	line-height: 28px;
	background-image: linear-gradient(0deg, #F5F5F8 0%, #FFFFFF 100%);
	border: 1px solid #E8ECF2;
	margin-top: 8px;
	cursor: pointer;
	letter-spacing: 0;
}
.bookmark-search-div{
	width: 160px;
	height: 28px;
	border: 1px solid #E8ECF2;
	float: right;
	margin-top: 8px;
}
#bookmark-search-name{
	width: 130px;
	height: 28px;
	border: 0;
	float: left;
	text-indent: 12px;
	background: transparent;
}
#toSearch{
	width: 30px;
	height: 28px;
	float: left;
	background: url(../img/search.png) no-repeat center;
	cursor: pointer;
}
/*+++++++++++书签文件夹++++++++++++++++++++++++*/
.bookmark-content{
	width: 100%;
	height: auto;
}
.page{
	width: 100%;
	display: block;
}
.part{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.part-border{
	border-bottom: 1px solid #E8ECF2;
}

.part .part-up{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #333333;
}
.part h4{
	width: auto;
	margin-top: 15px;
	line-height: 20px;
	float: left;
	cursor: pointer;
}
.part h4 span{
	float: left;
}
.part h4 i{
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-left:5px ;
	background: url(../img/show.png) no-repeat;
}
.hide .xiala{
	background: url(../img/hide.png) no-repeat;
}
/*书签内容*/
.part-down{
	width: 800px;
	padding-top: 18px;
	padding-bottom: 18px;
	background: #F5F6F7;
}
.part-box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.history-info{
	width: 703px;
	height: 48px;
	background: #F5F6F7;
	margin: 0 auto 10px;
	border-bottom:1px solid #D8DCE2 ;
}
.history-info:hover{
	background: #E5E7EE;
}
.history-info .bookmark-name{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #333;
	font-size: 14px;
	border: 0;
	background: transparent;
}
.history-info .bookmark-src{
	display: block;
	width: 100%;
	height: 18px;
	line-height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	border: 0;
	background: transparent;
}
.history-info .inputChange{
	border-bottom: 1px solid #333333;
}
/*+++++++++++++++++++*/
.mouseBox{
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	overflow: hidden;
	background: #FFFFFF;
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.13);
	border-radius: 2px;
	display: none;
}
.mouseBox ul{
	width: 150px;
	height: auto;
	padding: 10px 0;
	margin: 0 auto;
	border-bottom: 1px solid #E8ECF2;
}
.mouseBox .noborder{
	border: 0;
}
.mouseBox ul li{
	width: 100%;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	text-indent: 12px;
	cursor: pointer;
}
.noclick{
	color: #666;
}
