html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	max-width: 1024px;
	min-height: 100%;
    background: #FBFBFC;
    margin: 0 auto;
	font: 12px/1.5 'microsoft yahei',tahoma,arial,sans-serif;
}
a:hover{
	text-decoration: underline;
	color: #4188E4!important;
	cursor: pointer;
}
.history-box{
	width: 800px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.history-menu{
	width: 100%;
	height: 47px;
	line-height: 46px;
	padding-top: 30px;
	position: relative;
    border-bottom: 1px solid #E8ECF2;
}
.history-menu h3{
	width: auto;
	height: 46px;
	line-height: 46px;
	float: left;
	font-size: 16px;
	color: #4E4E4E;
	letter-spacing: 0px;
	font-weight: normal;
}
.menu-box{
	float: right;
	width: 390px;
	height: 46px;
	line-height: 46px;
	color: #818181;
	padding-right: 10px;
}
#del-select{
	float: left;
	margin-right: 20px;
	cursor: pointer;
}
#del-all{
	float: left;
	cursor: pointer;
}
.history-search-div{
	width: 160px;
	height: 28px;
	border: 1px solid #E8ECF2;
	float: right;
	margin-top: 8px;
}
#history-search-name{
	width: 130px;
	height: 28px;
	border: 0;
	float: left;
	text-indent: 12px;
	background: transparent;
}
#toSearch{
	width: 30px;
	height: 28px;
	float: left;
	background: url(../img/search.png) no-repeat center;
	cursor: pointer;
}
/*+++++++++++历史内容++++++++++++++++++++++++*/
.history-content{
	width: 100%;
	height: auto;
}
.page{
	width: 100%;
	display: block;
}
.part{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.part-border{
	border-bottom: 1px solid #E8ECF2;
}

.part .part-left{
	float: left;
	width: 206px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #333333;
}
.part h4{
	width: auto;
	margin-top: 15px;
	line-height: 20px;
	float: left;
	cursor: pointer;
}
.part h4 span{
	float: left;
}
.part h4 i{
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-left:5px ;
	background: url(../img/show.png) no-repeat;
}
.hide .xiala{
	background: url(../img/hide.png) no-repeat;
}
.part-right{
	width: 580px;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.part-box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.history-info{
	width: 100%;
	height: 30px;
	line-height: 30px;
	display: block;
}
.span-check{
    margin-right: 8px;
    width: 12px;
    height: 12px;
    border: 1px solid #979797;
    border-radius: 2%;
    margin-top: 8px;
    position: relative;
    float: left;
    display: block;
}
.span-check input{
	opacity: 0;
    filter: alpha(opacity=0);
    float: left;
}
.span-check::before {
    content: '\00a0';
    display: inline-block;
    border: 0;
    border-top-width: 0;
    border-right-width: 0;
    width: 0px;
    height: 0px;
    transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
    position: absolute;
    top: 4px;
    left: 3px;
}
.check-selected::before{
	content: '\00a0';
    display: inline-block;
    border: 1px solid #52627B;
    border-top-width: 0;
    border-right-width: 0; 
    width: 4px;
    height: 2px;
    transform: rotate(-50deg) scale(2);
	-ms-transform: rotate(-50deg) scale(2);
    position: absolute;
    top:4px;
    left:3px;
    transition: all 0.2s ease;
}
.history-info .cut{
	width: 10px;
	height: 11px;
	float: right;
	margin-left: 20px;
	padding-top: 10px;
}
.history-info .cut span{
	width: 10px;
	height: 11px;
	background: url(../img/del.png) no-repeat;
	display: none;
	cursor: pointer;
	float: left;
}
.history-info a{
	float: left;
	color: #333;
	max-width: 240px;
	  white-space: nowrap;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
}
.history-info span{
	float: right;
	width: 280px;
	white-space: nowrap;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	display: none;
}
/*搜索框下的记录*/
.search-box{
	width: 700px;
	margin: 20px auto 0;
	display: none;	
}
.search-box .history-info{
	width: 700px;
	}
.search-box .history-info a{
	max-width: 300px;
}
.history-info .history-info span{
	width: 300px;
}
