blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif}
button,h1,h2,h3,h4,h5,h6,input,select,textarea{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ol,ul{list-style:none}
a{text-decoration:none}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
article,aside,audio,details,figcaption,figure,footer,header,hgroup,mark,menu,nav,section,summary,time,video{display:block;margin:0;padding:0}
mark{background:#ff0}
input:focus{outline:0}
:root{filter:none;}
/*
 *水波样式 
 * */
.btn {position:relative;width:13em;height:3em;border:none;outline:none;letter-spacing:.2em;background:#999;cursor:pointer;overflow:hidden;user-select:none;}  
.ripple {position:absolute;background:rgba(0,0,0,.15);border-radius:100%;transform:scale(0);-ms-transform:scale(0);pointer-events:none;}  
.ripple.show {animation:ripple .75s ease-out;}  
@keyframes ripple {to {transform:scale(2);opacity:0;}} 