<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<Window size="270,456">
  <Font id="0" name="微软雅黑" size="14" bold="false"/>
  <VerticalLayout width="270" height="456" bkcolor="#FFFFFFFF">
  	<HorizontalLayout  height="70" padding="0,40,0,0" >

		      <VerticalLayout bkcolor="#FFAAAAAA" width="70" height="70" padding="14,0,0,0">
		      	<Button name="menu_bookmark" padding="23,13,0,0" width="24" height="24"  bkimage="file='skin\menu_bookmark.png'" />
		      	<Button width="28" padding="21,0,0,0" height="20" text="书签"/>
		      </VerticalLayout>
		      
		      <VerticalLayout hotcolor="#FFAAAAAA" width="70" height="70" padding="14,0,0,0">
		      	<Button name="menu_history" padding="23,13,0,0" width="24" height="24"  bkimage="file='skin\menu_history.png'" />
		      	<Button width="28" padding="21,0,0,0" height="20" text="历史"/>
		      </VerticalLayout>
		      
		      <VerticalLayout bkcolor="#FFAAAAAA" width="70" height="70" padding="14,0,0,0">
		      	<Button name="menu_clearcache" padding="23,13,0,0" width="24" height="24"  bkimage="file='skin\menu_clearcache.png'" />
		      	<Button width="56" padding="7,0,0,0" height="20" text="清理痕迹"/>
		      </VerticalLayout>
    </HorizontalLayout>
    <HorizontalLayout  padding="0,20,0,0" height="70">
		      <VerticalLayout bkcolor="#FFAAAAAA" width="70" height="70" padding="14,0,0,0">
		      	<Button name="menu_setting" padding="23,13,0,0" width="24" height="24"  bkimage="file='skin\menu_setting.png'" />
		      	<Button width="28" padding="21,0,0,0" height="20" text="设置"/>
		      </VerticalLayout>
		      
		      <VerticalLayout bkcolor="#FFAAAAAA" width="70" height="70" padding="14,0,0,0">
		      	<Button name="menu_download" padding="23,13,0,0" width="24" height="24"  bkimage="file='skin\menu_download.png'" />
		      	<Button width="28" padding="21,0,0,0" height="20" text="下载"/>
		      </VerticalLayout>
		      
		      <VerticalLayout bkcolor="#FFAAAAAA" width="70" height="70" padding="14,0,0,0">
		      	<Button name="menu_print" padding="23,13,0,0" width="24" height="24"  bkimage="file='skin\menu_print.png'" />
		      	<Button width="28" padding="21,0,0,0" height="20" text="打印"/>
		      </VerticalLayout>
	  </HorizontalLayout>
	  <HorizontalLayout padding="0,20,0,0" bkcolor="#FFEBEBEB">
	  	
	  </HorizontalLayout>

	</VerticalLayout>

</Window>
